<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/layout/admin_layout :: ~{::body}">

<body>

<th:block th:with="pageTitle='Tổng quan'"></th:block>

<div th:fragment="content">

    <div class="row g-4">
        <div class="col-md-3">
            <div class="card bg-primary text-white p-3">
                <h4>1,250</h4>
                <small>Tổng khách hàng</small>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-success text-white p-3">
                <h4>8,420</h4>
                <small>Tổng sản phẩm</small>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-warning p-3">
                <h4>352</h4>
                <small>Đơn hàng mới</small>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-danger text-white p-3">
                <h4>₫1.2B</h4>
                <small>Doanh thu tháng</small>
            </div>
        </div>
    </div>

</div>

</body>
</html>